{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/comments.css' %}">
{% endblock %}
{% block content %}
<div class="card-footer">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="post">
        </div>
    </form>
</div>
{% for comment in comments %}
<div class="card">
    <div class="card-header">
        <h5>{{comment.editor.username}}</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{comment.comment}}</h5>
    </div>
    <div class="card-footer">
            <a href="">Reply</a>
    </div>
</div>
{% endfor %}
{% endblock %}