{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-5 flex-column-reverse flex-lg-row">
        <div class="col-md-6 pt-5 ig">
            <img src="{% static 'images/ig.png' %}" alt="logo" class=" img img-responsive" id="ig1">
        </div>

        <div class="col-md-6 pt-5">
            <h1 class="text-center">Instagram</h1>
            <p>{{ user.username }}</p>
            <form action="/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="edit profile">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}