{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}

{% if posts %}
{% for post in posts %}
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-2">
            <div class="card">
                <div class="card-header">
                    <h6><a href="profile/{{ post.editor.username }}">{{ post.editor.username }}</a></h6>
                    </div>
                 
                </div>
                <div class="card-body">
                    <img src="{{post.image.url}}" alt="logo" class="img-fluid img-responsive" id="ig1">
                </div>
                <p>{{post.caption}}</p>
                <a href="/comment/{{post.id}}">Comment</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}