nav{
    padding-left: 5vw!important;
    padding-right: 8vw!important;
    margin-bottom: 5vh!important;
    background: linear-gradient(to bottom , #fff9bb , #fff9bb );
}

.nl{
    padding-left: 20vw !important;
}

.circle{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px!important;
    width: 30px!important;
    border-radius: 50%;
}

.navl{
    margin-left: 10vw!important;
}

@media screen and (max-width: 1200px){
    .nl{
        padding-left: 10vw !important;
    }
    .navl{
        margin-left: 10vw!important;
    }
    
}
@media screen and (max-width: 1005px){
    .nl{
        padding-left: 7vw !important;
    }
    .navl{
        margin-left: 8vw!important;
    }
    
}


    


@media screen and (max-width: 991px) {
    .nl{
        padding-left: 0vw!important;
    }
    .navl{
        margin-left: 0vw!important;
    }
}