.container{
    font-size: 18px;
    background-color: #f1f1f1;
}

body{
    background-color: rgb(216, 216, 216);
}

.ig{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.img{
    height: 60vh;
    width: auto;
}

#ig1{
    z-index: -1;
}

#ig2{
    position: absolute;
    z-index: 99;
    right: 2vw;
    border-radius: 10px;
    margin-top: 15vh;
}

form .form-group small{
    display: none;
}

form{
    width: 70%;
}

.p_image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.upper_p{
    border-bottom: 1px solid rgb(202, 196, 196);
    padding-bottom: 5vh;
    padding-top: 3vh;
    border-radius: 5px;
}

